#timeline {
  height: 180px;

  z-index: 10;
  width: 100%;
  margin-top: -180px;
}

.video-button {
  position: absolute;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  background-color: transparent;
  display: inline-block;
  margin: 5px;
  border: none;
  opacity: 1;
}

.video-button:disabled {
  opacity: 0.5;
}

.video-button:hover {
  cursor: pointer;
  border: none;
}

.video-button:focus {
  outline: none;
}

.video-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.stop {
  background-image: url('../../assets/icons/stop-16.svg');
}

.stop:hover {
  background-image: url('../../assets/icons/stop-hovered-16.svg');
}

.play {
  background-image: url('../../assets/icons/play-16.svg');
}

.play:hover {
  background-image: url('../../assets/icons/play-hovered-16.svg');
}
