<div class="title">
  <button mat-icon-button mat-dialog-close class="close-button"><mat-icon>close</mat-icon></button>
  <a href="https://www.yworks.com/products/yfiles-for-html" target="_blank" class="logo-link">
    <img src="assets/logo_demo.svg" alt="yFiles for HTML Logo" class="logo-image" />
  </a>
</div>
<div mat-dialog-content>
  <div class="info">
    <p>
      This application is powered by
      <a href="https://www.yworks.com/products/yfiles-for-html" target="_blank">yFiles for HTML</a>,
      the powerful diagramming library.
    </p>
    <p>
      You can learn more about the many features that come with
      <a href="https://www.yworks.com/products/yfiles" target="_blank">yFiles</a>
      on the
      <a href="https://www.yworks.com/products/yfiles/features" target="_blank"
        >yFiles Features Overview</a
      >.
    </p>
    <p>
      If you want to try it for yourself, you can obtain a free evaluation version of yFiles in the
      <a href="https://my.yworks.com/signup?product=YFILES_HTML_EVAL" target="_blank"
        >yWorks Evaluation Center</a
      >.
    </p>
    <p>Want to know how this app is made? Take a look at the source code on</p>
    <p>
      <a href="https://github.com/yWorks/space-time-graphs" target="_blank"
        ><img src="assets/GitHub-Mark-32px.png" /> github.com/yWorks/space-time-graphs</a
      >
    </p>
  </div>
  <div class="ylogo-container">
    <img src="assets/yworks-logo.svg" alt="yWorks logo" class="ylogo" />
    <div>
      <a href="https://www.yworks.com/" target="_blank">https://www.yworks.com</a>
      <div style="margin-top: 5px;">© 2019 yWorks GmbH, All rights reserved</div>
    </div>
  </div>
</div>
